[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
keras = "*"
tensorflow = "*"
flask-restful = "*"
waitress = "*"
gevent = "*"
cassandra-driver = "*"
requests = "*"
cherrypy = "*"
mod-wsgi = "==4.6.7"
uwsgi = "*"
mod-wsgi-httpd = "*"

[requires]
python_version = "3.6"
